* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 100vh;
}

.title-strong{
    color: #22d4fd;   
}

.main-content{
    margin: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-title{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.text-p{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.btn-content{
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 290px;
    padding: 21.5px 0;
    border-radius: 10px;
    color: black;
    text-align: center;
    background-color: #22d4fd;
    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
}
